:root {
    --color-white: #FFF;
    --color-grey: #BABBC5;
    --color-orange: #FF4343;
    --color-black: #2D3033;
    --color-red: rgba(255, 67, 67, 0.80);
    --color-purpure: #5C3249;
    --color-darkblue: #353C65;
    --color-darkpurpure: #2C3154;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-icon {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-projects {
    max-width: 1510px;
    margin: 0 auto;
    padding: 0 15px;
}

.heroes-container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.present-container {
    max-width: 1510px;
    margin: 0 auto;
}

.download-container {
    max-width: 1230px;
    margin: 0 auto;
}

.footer {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
